*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #2D7DFF
}

body {
    background: linear-gradient(220deg, rgba(189,0,255,1) 0%, rgba(0,163,255,1) 100%);
    height: 100vh;
    background-attachment: fixed;
    font-family: 'Poppins';
}

.container {
    margin: 1em .5em;
    height: calc(100% - 2em);
}

section {
    background: #221F26 url('./images/bg_crazy.jpeg');
    background-size: cover;
    background-blend-mode: screen;
    background-position: -100px;
    height: 100%;
    padding: 2em;
}

nav {
    display: none;
}

.logo {
    color: var(--primary-color);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: -.1rem;
    width: 100%;
    margin: 0;
}

header {
    display: flex;
}

.menu-btn {
    cursor: pointer;
}

h1 {
    font-size: clamp(2.5rem, -0.875rem + 8.333vw, 4rem);
    color: whitesmoke;
    font-weight: 800;
    line-height: 89%;
    text-transform: uppercase;
}

.cv {
    display: grid;
    place-items: center;
    height: 80%;
}