*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #2D7DFF
}

body {
    background: linear-gradient(220deg, rgba(189,0,255,1) 0%, rgba(0,163,255,1) 100%);
    height: 100vh;
    background-attachment: fixed;
    font-family: 'Poppins';
}

.container {
    margin: 1em .5em;
    height: calc(100% - 2em);
}

section {
    background: #221F26 url('./images/bg_crazy.jpeg');
    background-size: cover;
    background-blend-mode: screen;
    background-position: -100px;
    height: 100%;
    padding: 2em;
    border-radius: 13px;
}

.logo {
    color: var(--primary-color);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: -.1rem;
    width: 100%;
    margin: 0;
}

header {
    display: flex;
}

.menu-btn {
    cursor: pointer;
}

h1 {
    font-size: clamp(2.5rem, -0.875rem + 8.333vw, 4rem);
    color: whitesmoke;
    font-weight: 800;
    line-height: 89%;
    text-transform: uppercase;
}

.cv {
    display: grid;
    place-items: center;
    height: 80%;
}

.content p {
    font-size: clamp(2rem, -0.875rem + 8.333vw, 3rem);
    font-weight: 300;
    line-height: 111%;
    color: #847D93;
    margin-top: 1.1em;
}

.cta {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2.875rem;
    display: inline-block;
    border: 1px solid #4D4D4D;
    padding: 1.25em 1.25em 1.25em calc(2.5em + 1.5em);
    position: relative;
}

.cta::before {
    content: '';
    position: absolute;
    background: url('./images/new-arrow-right.svg');
    width: 1.5em;
    height: 1.5em;
    left: 1.25em;
}

.cta:hover {
    background: var(--primary-color);
}

.back-btn {
    transform: scaleX(-1);
    padding: 3em 4em 2em;
    transition: transform .3s;
}

.back-btn:hover {
    transform: scaleX(-1) translateX(10px);
}

nav {
    position: fixed;
    z-index: 1;
    background: #2C2931;
    left: 0;
    top: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .3s;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .875em 5em .875em 4em;
}

nav ul li a:hover {
    background: #413E47;
}

.active {
    background: var(--primary-color);
}
.active:hover {
    background: #4497FF;
}

@media only screen and (min-width: 1000px) {
    nav {
        position: unset;
        transform: translateX(0) !important;
        border-radius: unset;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
        height: 100%;
    }
}